* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100dvw;
  background-color: rgb(56, 45, 45);
  height: 100%;
}
section {
  background-color: rgb(224, 142, 142);
  padding: 3rem;
}
